# Node.js and npm
node_modules/
npm-debug.log*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# Flask static files
*.log
instance/

# Database configuration file
db_config.py

dump.rdb

# Tailwind CSS build artifacts
/app/static/css/output.css
/app/static/css/output.css.map