<nav class="bg-gray-800 shadow-md">
    <div class="container mx-auto px-4 py-4 flex justify-between items-center">
        <!-- Logo and Name -->
        <div class="flex items-center space-x-4">
            <a href="/" class="flex items-center">
                <!-- Placeholder for Logo -->
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="h-8 w-8 object-contain">
                <span class="text-xl font-bold text-gray-100 ml-2">NBA Dashboard</span>
            </a>
        </div>

        <!-- Navigation Links -->
        <div class="hidden md:flex space-x-6">
            <a href="/dashboard" class="text-gray-200 hover:text-white transition {% if request.path == '/dashboard' %} font-bold text-white {% endif %}">Dashboard</a>
            <a href="/" class="text-gray-200 hover:text-white transition {% if request.path == '/' %} font-bold text-white {% endif %}">Players</a>
            <a href="/teams" class="text-gray-200 hover:text-white transition {% if request.path == '/teams' %} font-bold text-white {% endif %}">Teams</a>
            <a href="/games" 
            class=" text-gray-200 hover:text-white transition {% if request.path == '/games' %}font-bold text-white{% endif %}">
             Schedule
            </a>
        </div>

        <!-- Mobile Menu Button -->
        <button id="menu-toggle" class="md:hidden text-gray-200 hover:text-white focus:outline-none">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>
    </div>

    <!-- Mobile Menu -->
    <div id="mobile-menu" class="hidden md:hidden">
        <a href="/dashboard" class="block py-2 pyx-4 text-gray-200 hover:text-white transition {% if request.path == '/dashboard' %} font-bold text-white {% endif %}">Dashboard</a>
        <a href="/" class="block py-2 px-4 text-gray-200 hover:text-white transition {% if request.path == '/' %} font-bold text-white {% endif %}">Players</a>
        <a href="/teams" class="block py-2 px-4 text-gray-200 hover:text-white transition {% if request.path == '/teams' %} font-bold text-white {% endif %}">Teams</a>
        <a href="/games" 
        class="block py-2 px-4 text-gray-200 hover:text-white transition {% if request.path == '/games' %}font-bold text-white{% endif %}">
         Schedule
        </a>    
    </div>
</nav>

<script>
    const menuToggle = document.getElementById('menu-toggle');
    const mobileMenu = document.getElementById('mobile-menu');

    menuToggle.addEventListener('click', () => {
        mobileMenu.classList.toggle('hidden');
    });
</script>